{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    {{ partial "intro.html" . }}

    <h1>Benvenuto su Sapienza Hub!</h1>
    <h3>Cos'&egrave; Sapienza Hub?</h3>
    <p>&Egrave; un sito non ufficiale della facolta di 
    Informatica della Sapienza creato da studenti della stessa per raccogliere tutte le risorse utili 
    e informazioni, purtroppo frastagliate dai vari siti della Sapienza.</p>
    
    <h3>Come funziona il sito?</h3>
    <p>Il sito &egrave; diviso in varie sezioni:
        <ul>
            <li><strong><a href="{{ .Site.BaseURL }}/links">Links.</a></strong> Contiene link ai gruppi creati e amministrati dagli studenti per confrontarsi ed aiutarsi a vicenda</li>
            <li><strong><a href="{{ .Site.BaseURL }}/faq">FAQ.</a></strong> Raccolta di domande pi&ugrave; comuni fatte dagli studenti (con relativa risposta)</li>
            <li><strong><a href="{{ .Site.BaseURL }}/resources">Risorse.</a></strong> Contiene esercizi ed esami passati svolti di varie materie</li>
            <li><strong><a href="{{ .Site.BaseURL }}/info">Informazioni.</a></strong> Contiene varie informazioni utili agli studenti</li>
            <li><strong><a href="{{ .Site.BaseURL }}/about">Chi siamo.</a></strong> Qui trovi informazioni sugli autori del progetto e su come contattarci</li>
            <li><strong><a href="{{ .Site.BaseURL }}/covid">COVID.</a></strong> SEZIONE SPECIALE PER INFO RIGUARDANTI EMERGENZA COVID</li>
        </ul>
    </p>
</div>

{{ partial "footer.html" . }}
