{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    {{ partial "intro.html" . }}

    <h1>Benvenuto su Sapienza Hub!</h1>
    <h3>Cos'&egrave; Sapienza Hub?</h3>
    <p>&Egrave; un sito non ufficiale creato da studenti per raccogliere tutte le risorse a noi utili.</p>

    <p>Il sito &egrave; diviso in varie sezioni:
        <ul>
            <li><strong><a href="social">Social.</a></strong> Contiene link ai gruppi creati e amministrati dagli studenti per confrontarsi ed aiutarsi a vicenda</li>
            <li><strong><a href="links">Links.</a></strong> Contiene link e contatti utili, ufficiali e non</li>
            <li><strong><a href="faq">FAQ.</a></strong> Raccolta di domande pi&ugrave; comuni fatte dagli studenti (con relativa risposta)</li>
            <li><strong><a href="resources">Risorse.</a></strong> Contiene esercizi ed esami passati svolti di varie materie</li>
            <li><strong><a href="info">Informazioni.</a></strong> Contiene varie informazioni utili agli studenti</li>
            <li><strong><a href="howto">Guide.</a></strong> Qui trovi vari guide su come muoverti all'interno del mondo universitario</li>
            <li><strong><a href="about">Chi siamo.</a></strong> Qui trovi informazioni sugli autori del progetto e su come contattarci</li>
        </ul>
    </p>
</div>

{{ partial "footer.html" . }}
